@page "/register"
@inherits UserRegistrationBase

<PageTitle>Arisa Pvt.Ltd</PageTitle>

<h1>Welcome to Arisa Pvt. Ltd.</h1>

<p>Please register yourself!</p>

<div class="form-group">
    <label for="Email">Email</label>
    <input type="email" id="Email" @bind="registrationModel.Email" class="form-control" />
</div>

<div class="form-group">
    <label for="Password">Password</label>
    <input type="password" id="Password" @bind="registrationModel.Password" class="form-control" />
</div>
<div class="form-group">
    <label for="ConfirmPassword">Confirm Password</label>
    <input type="ConfirmPassword" id="ConfirmPassword" @bind="registrationModel.ConfirmPassword" class="form-control" />
</div>
<div class="form-group">
    <label for="FirstName">First Name</label>
    <input id="FirstName" @bind="registrationModel.FirstName" class="form-control" />
</div>

<div class="form-group">
    <label for="LastName">Last Name</label>
    <input id="LastName" @bind="registrationModel.LastName" class="form-control" />
</div>

<button @onclick="Register" class="btn btn-primary">Register</button>


